/*# vi: set ai et sts=4 sw=4: #####################**
 *|                                                |*
 *|  ============================================= |*
 *|   ____  _       _            ____  _ _         |*
 *|  |  _ \(_)_ __ | | ___   _  / ___|(_) |_ ___   |*
 *|  | | | | | '_ \| |/ / | | | \___ \| | __/ _ \  |*
 *|  | |_| | | | | |   <| |_| |  ___) | | ||  __/  |*
 *|  |____/|_|_| |_|_|\_\\__, | |____/|_|\__\___|  |*
 *|                      |___/                     |*
 *|  ==================         ================== |*
 *|                                                |*
 *#################################################**/

@charset UTF-8;

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #000;
        color: #bbb;
    }
}

@media (prefers-color-scheme: light) {
    html, body {
        background-color: #fff;
        color: #111;
    }
}
