/*# vi: set ai et sts=4 sw=4: #####################**
 +/&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&\+
 *|                                                |*
 *|  ============================================= |*
 *|   ____  _       _            ____  _ _         |*
 *|  |  _ \(_)_ __ | | ___   _  / ___|(_) |_ ___   |*
 *|  | | | | | '_ \| |/ / | | | \___ \| | __/ _ \  |*
 *|  | |_| | | | | |   <| |_| |  ___) | | ||  __/  |*
 *|  |____/|_|_| |_|_|\_\\__, | |____/|_|\__\___|  |*
 *|                      |___/                     |*
 *|  ==================         ================== |*
 *|                                                |*
 *\################################################/*/

@charset UTF-8;

:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
    /* This may be a little perverse... */
    max-width: 100%;
}


/*
 * LICENSE: CC BY-SA 4.0
 * https://int10h.org/oldschool-pc-fonts/download/
 */
@font-face {
    font-family: "IBM VGA 9x16";
    src: url("Web437_IBM_VGA_9x16.woff") format("woff");
    font-weight: 400;
    font-size: normal;
    font-size: 16px;
    line-height: 16px;
}

@font-face {
    font-family: "IBM VGA 9x8";
    src: url("Web437_IBM_VGA_9x8.woff") format("woff");
    font-weight: 400;
    font-size: normal;
    font-size: 16px;
    line-height: 16px;
}

/* Color scheme */
@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #222;
        color: #bbb;
    }

    strong, h1, h2, h3 {
        color: #fff;
        font-weight: normal;
    }

    a { color: #fc0; }
    a:visited { color: #f60; }
}

@media (prefers-color-scheme: light) {
    html, body {
        background-color: #fff;
        color: #111;
    }
}

body, pre, code {
    font-family: "IBM VGA 9x16", "Fixedsys", "Courier New", "Courier", monospace;
}

/* Code is inline -- we cannot add margin to it!!! */
body, pre {
    margin: 1em;
}

p,  {
    line-height: 1.2;
}

.navbar {

    .crumb a:visited {
        color: inherit;
    }

    .crumb.active a {
        color: inherit;
        text-decoration: none;  /* NO underscore */
        cursor: default;
        pointer-events: none;
    }
}

main {
    margin: 0 auto;
    width: 76ch;
}

.epigram pre {
    background-color: #333;
    /* I actually want to make it so that the padding
     * doesn't turn this pre-chunk into horizontal
     * scroll thingy, but that means doing something
     * with responsive, which means (somehow) figuring
     * out the Bootstrap thresholds for lg/md/sm ...
     * and I'm no Ethan Marcotte. so uhh..... :x */
    padding: 1.2em 1.5em;
    /* Counter-act _reboot.scss */
    font-size: 0.6rem; /* smaller! */
    /* A square-ish font is better for ASCII art
     * (speaking of "art", i didn't really make this
     * one... i just asciiart.eu/text-to-ascii-art
     * generate it for me... lol (plz don't sue me)) */
    font-family: "IBM VGA 9x8", "Fixedsys", "Courier New", "Courier", monospace;
}

figure {
    /* Counter-act _reboot.scss again */
    margin: 2em 0;

    img {
        display: block;
        height: auto;
        /* Without height:auto, the following would be
         * necessary (though that fits, not shrinks)
         *
         * anyway uh WE NEED HEIGHT AUTO VERY BADLY!!! */
        /* object-fit: contain; */
        margin: 1em auto;
    }

    img.dinky {
        width: 12rem;
    }

    figcaption {
        text-align: center;
        width: 40ch;
        /* Okay, I may be a hypocrite -- BUT... */
        /* (actually I'm fine; i was looking at margin
         * collapse, but now i realize they don't look
         * so good so close together now that the navbar
         * is moved to the top. */
        margin: 1em auto;
    }
}

.rule {
    text-align: center;
}
